@font-face {
  font-family: 'Ubuntu';
  src: url("../../../public/fonts/Ubuntu-Regular.ttf");
}

* {
  font-family: 'Ubuntu';
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin: 10px 0;
  line-height: 1.6;
}

p strong {
  color: #007bff;
}

.message {
  font-size: 1.2rem;
  color: #ff0000;
  text-align: center;
  margin: 20px 0;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  object-fit: cover;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

a {
  display: inline-block;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}
